<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
            crossorigin="anonymous"></script>
    <link href="https://getbootstrap.com/docs/4.0/examples/jumbotron/jumbotron.css" rel="stylesheet">
    <title>Dstagram {% block title %}{% endblock %}</title>

</head>
<body>
<div class="container">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="header clearfix">
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <ul class="nav float-right">
                    <li class="nav-item"><a href="/" class="active">Home</a></li>
                    {% if user.is_active %}
                        <li class="nav-item"><a href="#">Welcome, {{ user.get_username }}</a></li>
                        <li class="nav-item"><a href="{% url 'accounts:logout' %}">로그 아웃</a></li>
                    {% else %}
                        <li class="nav-item"><a href="{% url 'accounts:login' %}">로그인</a></li>
                    {% endif %}
                </ul>
            </nav>
            <h3 class="text-muted">Dstagram</h3>
        </div>
        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer">
        <p>&copy; Fastcampus</p>
    </footer>
</div>




</body>
</html>