{% extends 'base.html' %}
{% block title %}Product Detail{% endblock %}

{% block content %}
    <div class="product_detail">
        <img src="{{ product.image.url }}" alt="">
        <h1>{{ product.name }}</h1>
        <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
        <p class="price">{{ product.price }}</p>

        <form action="." method="post">
            {% csrf_token %}
           {{ cart_product_form }}
            <input type="submit" value="Add to Cart">
        </form>
        {{ product.description|linebreaksbr }}
    </div>
{% endblock %}